body {
     background-image: url("background.jpg");
     background-repeat: repeat-y;
     background-size: 100%;
     text-align: center;
}

h1 { 
        font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #FFE332;
	font-size: 48px;
	line-height: 44px;
	letter-spacing: 1px;
}

p {
    font-family: arial;
    font-size: 14px;
    color: #FF0000;
    margin: 3px auto 3px auto;
}

label{
    display: inline-block;
    color: #FFE332;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    margin: 5px auto 10px 5px;
    width: 10%;
}

form {
        margin: 50px auto 50px auto;
        width: 60%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
}

#post_comment input[type=text], input[type=email], textarea {
        display: inline-block;
        width: 85%;
        margin: 5px 5px 5px auto;
        border: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;  
        border-radius: 5px; 
        padding: 5px;
}

textarea {
        overflow: auto;
        width: 96%;
}

table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	text-shadow: 1px 1px 0px #fff;
        margin-bottom: 25px;
        margin-top: 25px;
        margin-left:auto; 
        margin-right:auto;
        width: 70%;
	background:#eaebec;
	border:#ccc 1px solid;
    
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding: 10px 7px 10px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th.author{
    text-align: left;
    font-size: 14px;
    border-right: none;
}
table th.date{
    text-align: right;
    font-size: 11px;
    border-left: none;
}
table tr {
	text-align: left;
	padding-left:20px;
}
table td {
	padding: 10px 18px 10px 18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        font-size: 18px;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

input[type=button], input[type=submit] {
  background: #c3c5c7;
  background-image: -webkit-linear-gradient(top, #c3c5c7, #5b5d5e);
  background-image: -moz-linear-gradient(top, #c3c5c7, #5b5d5e);
  background-image: -ms-linear-gradient(top, #c3c5c7, #5b5d5e);
  background-image: -o-linear-gradient(top, #c3c5c7, #5b5d5e);
  background-image: linear-gradient(to bottom, #c3c5c7, #5b5d5e);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;
  color: #262626;
  font-size: 18px;
  margin: 5px auto 10px auto;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input[type=button]:hover, input[type=submit]:hover {
  background: #d5dce0;
  background-image: -webkit-linear-gradient(top, #d5dce0, #aeafb0);
  background-image: -moz-linear-gradient(top, #d5dce0, #aeafb0);
  background-image: -ms-linear-gradient(top, #d5dce0, #aeafb0);
  background-image: -o-linear-gradient(top, #d5dce0, #aeafb0);
  background-image: linear-gradient(to bottom, #d5dce0, #aeafb0);
}